h5py==3.7.0
scikit-image==0.19.3
scikit-learn==1.1.2
seaborn==0.11.2
squidpy==1.2.0
napari[all]==0.11.0
tqdm==4.64.1
aicsimageio==4.9.9
jupyterlab==3.5.0
cellpose-napari==0.1.5
napari-serialcellpose==0.2.2
stardist-napari